input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

# 
.leaflet-container {
  background-color: white !important;
}
#cite {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 12px;
  background-color: rgba(255,255,255,0.6);
}

text, h1, h2, h3, h4, p, body, label, input, button, select {
    font-family: Open Sans!important;
 color:black;}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px; /* 5px rounded corners */
  max-width: 800px;
  margin: 0 auto;
}            